<div class="main-container">
  <div class="profile-container">
    <div class="profile-box">
      <div class="profile-left">

        <div class="pi-area">
          <h1>USER////DATA</h1>
          <%= attachment_image_tag @user, :profile_image, fallback: "user_sample.jpg", size: '80x80', class:"profile-image" %>
        </div>
        <% if @user.id == current_user.id %>
          <div class="pi-area">
            <%= link_to 'プロフィールを編集する', edit_person_path(@user), class: "input_btn2" %>
          </div>
        <% end %>
        <% if @user.id == current_user.id %>
          <div class="pi-area">
            <%= link_to 'イベントを開催する', new_event_path, class: "input_btn2" %>
          </div>
        <% end %>

        <div class="p-info-area">
          <h1>NAME：<%= @user.name %></h1>
          <h1>AGE：<%= @user.age %></h1>
          <h1>PROFILE</h1>
          <h4><%= safe_join(@user.introduction.split("\n"),tag(:br)) %></h4>
          <% if @user.line.present? %>
            <h1>LINE-ID:<%= @user.line %></h1>
          <% end %>
        </div>

        <div class="sns-link">
            <% if @user.twitter.present? %>
              <%= link_to @user.twitter, target: :_new, class: "flowbtn8 fl_tw2" do %>
                <i class="fab fa-twitter"></i>
              <% end %>
            <% end %>
            <% if @user.instagram.present? %>
                <%= link_to @user.instagram, target: :_new, class: "flowbtn8 insta_btn2" do %>
                  <i class="fab fa-instagram"></i>
                <% end %>
            <% end %>
        </div>

        <div>
          <% unless @user.id == current_user.id %>
            <% if @isRoom == true %>
              <%= link_to "Direct message", room_path(@roomId), class:"input_btn4" %>
            <% else %>
              <%= form_for @room do |f| %>
                <%= fields_for @entry do |e| %>
                  <%= e.hidden_field :user_id, value: @user.id %>
                <% end %>
                <%= f.submit "Direct message", class:"input_btn4"%>
              <% end %>
            <% end %>
          <% end %>
          <% if current_user != @user %>
            <% if @user.reported_by?(current_user) %>
              <%= link_to "通報を取り消す", person_relationships_path(@user.id), method: :delete, class: "input_btn7" %>
            <% else %>
              <%= link_to "違反を通報する", person_relationships_path(@user.id), method: :post, class: "input_btn6" %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="profile-right">
        <h1 class="profile-event-title"><%= @user.name%>さん主催イベント</h1>
        <div class="profile-right-inner">
          <% @events.each do |event| %>
            <%= link_to event_path(event), class: "user-event-link" do %>
              <div class="user-event-box">
                <div>
                  <%= attachment_image_tag event, :event_image, fallback: "no_event_image.jpg", size: '300x200', class: "event-img" %>
                </div>
                <div class="event-info">
                  <p>開催日時：<%= event.date.strftime("%Y年%m月%d日") %></p>
                  <p>開催エリア：<%= event.prefecture.name %></p>
                  <p>イベント名：<%= event.title %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <%= paginate @events %>
      </div>
    </div>
  </div>
</div>