<div>
  <div>
    <%= attachment_image_tag @user, :profile_image, fallback: "user_sample.jpg", size: '80x80', id: "img"%>
    <p>NAME</p>
    <h3><%= @user.name %></h3>
    <p>AGE</p>
    <h3>(<%= @user.age %>)</h3>
    <p>自己紹介</p>
    <h3><%= safe_join(@user.introduction.split("\n"),tag(:br)) %></h3>
    <p>LINE-ID</p>
    <% if @user.line.present? %>
    <h3><%= @user.line %></h3>
    <% end %>
  </div>

  <div class = "sns-link">
    <ul class="profile-links">
      <% if @user.instagram.present? %>
        <li class="profile-link">
          <%= link_to @user.instagram, target: :_new do %>
            <i class="fab fa-instagram"></i>
          <% end %>
        </li>
      <% end %>

      <% if @user.twitter.present? %>
        <li class="profile-link">
          <%= link_to @user.twitter, target: :_new do %>
            <i class="fab fa-twitter-square"></i>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div>
    <%= link_to 'プロフィールを編集する', edit_person_path(@user) %>
  </div>
  <div>
    <%= link_to 'イベントを開催する', new_event_path %>
  </div>
</div>

<div>
  <% @events.each do |event| %>
    <%= link_to event_path(event) do %>
      <div>
        <h5>開催日時</h5>
        <h5><%= event.date.strftime("%Y年%m月%d日") %></h5>
        <h5>開催エリア</h5>
        <h5><%= event.prefecture.name %></h5>
        <h3><%= event.title %></h3>
        <%= attachment_image_tag event, :event_image, fallback: "no_event_image.jpg", size: '300x200', id: "img" %>
        <p><%= safe_join(event.introduction.split("\n"),tag(:br)) %></p>
      </div>
    <% end %>
  <% end %>
</div>


