<div class="post-bg2">
  <div class="post-container">
    <div class="post-area">
      <div class="post-area-left">
        <div>
          <h1><%= @post.title %></h1>
        </div>
        <div>
          <%= attachment_image_tag @post, :post_image, fallback: "no_event_image.jpg", size: "250x250" , class: "post-image" %>
        </div>
      </div>
      <div class="post-area-right">
        <div class="post-body">
          <%= safe_join(@post.body.split("\n"),tag(:br)) %>
        </div>
        <% if @post.admin_id == current_admin.id %>
          <div class="post-btn">
            <%= link_to "記事編集", edit_admins_post_path(@post), class: "input_btn" %>
          </div>
          <div class="post-btn">
            <%= link_to "記事削除", admins_post_path(@post), method: :delete, class: "input_btn" %>
          </div>
        <% end%>
      </div>
    </div>
  </div>
</div>
