<div class="edit-bg">
  <div class="event-new-container">
    <div class="event-new-title">
      <h1 class="font-b">Event</h1>
      <h1 class="font-b">planning</h1>
      <%= render 'layouts/error', obj: @event %>
    </div>
    <div class="event-info-box">
      <%= form_with model: @event, url: events_path, local:true do |f| %>
        <div class="event-image-area">
          <div>
            <%= attachment_image_tag @event, :event_image, fallback: "no_event_image.jpg", class: "event-image", id: "img" %>
          </div>
          <div>
            <%= f.label :event_image, "画像をアップロード", class: "input_btn" %><br />
            <%= f.attachment_field :event_image, class: "image_form" %>
          </div>
        </div>
        <div class="event-data-area">
          <div class="field">
            <%= f.label :prefecture_id %><br />
            <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, :prompt => "開催県名を選択" %>
          </div>
          <div class="field">
            <%= f.label :date %><br />
            <%= f.date_field :date, autofocus: true %>
          </div>
          <div class="field">
            <%= f.label :title %><br />
            <%= f.text_field :title, autofocus: true %>
          </div>
        </div>
        <div>
          <%= f.label :introduction %><br />
          <%= f.text_area :introduction, autofocus: true, class: "introduction" %>
        </div>
        <div>
          <%= f.submit 'イベント新規作成', class: "input_btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>