<div>
  <h2>イベント詳細情報</h2>
  <div>
    <%= link_to person_path(@user) do %>
      <%= attachment_image_tag @user, :profile_image, fallback: "user_sample.jpg", size: '80x80', id: "img" %>
      <p><%= @user.name %></p>
    <% end %>
  </div>

  <div>
    <h5>開催日時</h5>
    <h5><%= @event.date.strftime("%Y年%m月%d日") %></h5>
    <h5>開催エリア</h5>
    <h5><%= @event.prefecture.name %></h5>
    <h3><%= @event.title %></h3>
    <%= attachment_image_tag @event, :event_image, fallback: "no_event_image.jpg", size: '300x200', id: "img" %>
    <p><%= @event.introduction %></p>
  </div>

  <div>
    <%= link_to 'イベント情報を変更', edit_event_path(@event) %>
  </div>
  <div>
    <%= link_to 'イベント情報を削除', event_path(@event), method: :delete %>
  </div>
  <div>
    <%= link_to 'イベント情報一覧', events_path %>
  </div>

</div>