<div class="room-bg">
  <div class="dm-container">
    <h1 class="rooms-title">Direct message</h1>
    <h4>MEMBER</h4>
    <div class="dm-member-area">
      <% @entries.each do |e| %>
        <div class="member-name">
          <%= link_to person_path(e.user.id), class: "dm-link" do%>
            <%= attachment_image_tag e.user, :profile_image, size: '40x40', fallback: "user_sample.jpg", class: "member-img" %>
            <%= e.user.name %>さん
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="message-area">
      <table class="table table-borderless">
        <%= flash[:alert] %>
        <% if @messages.present? %>
          <% @messages.each do |m| %>
            <tr>
              <td><%= m.user.name %></td>
              <td><%= m.message %></td>
              <td><%= m.created_at.strftime("%Y-%m-%d %H:%M")%></td>
              <td>
                <% if m.user_id == current_user.id %>
                  <%= link_to '削除', room_message_path(m.room_id, m.id), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn-sm btn-danger' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>

    <div class="posts">
      <%= form_with model: @message, url: room_messages_path(@room), local: true do |f| %>
        <%= f.text_area :message, placeholder: "メッセージを入力して下さい" , size: 70, class:"form-text-field" %>
        <%= f.hidden_field :room_id, value: @room.id %>
        <div>
          <%= f.submit "投稿", class: 'input_btn'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>
