<!DOCTYPE html>
<html>
  <head>
    <title>Choice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if request.fullpath.include?("admins") %>
      <%= render 'layouts/admins_header' %>
    <% elsif request.fullpath.include?("admin") %>
      <%= render 'layouts/admins_header' %>
    <% else %>
      <%= render 'layouts/users_header' %>
    <% end %>

    <script>
      function toggleNav() {
        var body = document.body;
        var hamburger = document.getElementById('js-hamburger');
        var blackBg = document.getElementById('js-black-bg');

        hamburger.addEventListener('click', function() {
          body.classList.toggle('nav-open');
        });
        blackBg.addEventListener('click', function() {
          body.classList.remove('nav-open');
        });
      }
      toggleNav();
    </script>
    <%= yield %>
  </body>
</html>
